.head
{
   background-image: repeating-linear-gradient(to right, red, orange, yellow);
    background-image: url(../images/Sliced.jpg);
    color: white;
}

body
{
    background-image:url(../images/Sack.jpg)
}

.Uboh

{
    background-image: linear-gradient(to left, brown, orange, red, yellow);
    opacity: .9;
    color: black;  
}

.Kedar
{
    background-image: repeating-linear-gradient(to right, yellow, orange, red, brown);
    color: black;   
    opacity: .9;
}

.Uhl
{
     background-image: repeating-linear-gradient(to right, orange, brown, yellow, red);
    color: black;   
    opacity: .9;
}

.Muha
{
     background-image: repeating-linear-gradient(to right, red, brown, yellow, orange);
     color: black;   
     opacity: .9;
}

.Daniel
{
    background-image: repeating-linear-gradient(to right, orange, red, yellow, brown);
    color: black;   
    opacity: .9;
}


.foot
{
    background-color: black;
    color: white;
    opacity: .8;
}