body{
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.login-page{
    width: 360px;
    padding: 1% 0 0; 
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;   
    background-image: repeating-linear-gradient(to right, red, orange, yellow);
    color: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    outline: 1; 
    background: #f2f2f2;
    width: 100%;
    border: 0; 
    margin: 0 0 15px; 
    padding: 15px; 
    box-sizing: border-box;
    font-size: 15px;
}

.form .picture{
    outline: 1; 
    background: #f2f2f2;
    width: 100%;
    border: 0; 
    margin: 0 0 15px; 
    padding: 15px; 
    box-sizing: border-box;
    font-size: 15px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase; 
    outline: 0; 
    background: rgba(252, 206, 0, 0.849);
    width: 100%;
    border: 0; 
    padding: 15px; 
    color: #ffffff; 
    font-size: 15px; 
    cursor: pointer;
}

.form button:hover,.form button:active{
    background: rgba(252, 143, 0, 0.849);;

}

.form .message{
    margin:15px 0 0; 
    color: aliceblue;
    font-size: 12px; 
}

.form .message{
    color: aliceblue;
    text-decoration: none; 
}
.form .message:link{
    background-color: hotpink;
}
.form .message:visited{
    color: black;
}

.form .register-form{
    display: none;
    
}

img.img1 {
    outline: 1; 
    width: 100%;
    height: 100px;
    margin: 0 0 15px; 
}

.navBarTop {
    overflow: hidden;
    background-color: #333;
  }
  .navBarTop a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }
  .navBarTop a:hover {
    background-color: #ddd;
    color: orangered;
  }
  .navBarTop a.active {
    background-color: rgb(214, 169, 20);
    color: white;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top:20px; 
    background-color: black;
    color: white;
    text-align: center;
  }
